body {
    font-family: gill sans, sans-sans-serif;
  }


body {
  background-color: #fcfcfc;
}

nav {
  font-family: gill sans, sans-sans-serif;

}

.form-check {
  padding: 30px;
}

.container-fluid {
  margin-top: 50px;
  margin-left: 500px;
  margin-right: 500px;
  padding: 500px;
}

table {
  font-size: .8rem;
  vertical-align: middle;
}

.table-hover tbody tr:hover td, .table-hover tbody tr:hover {
  background-color: #08ff87;
  text: #37003c;
}

.dingding td {
  background-color: #08ff87;
  text: #37003c;
}

.thead-light {
  background: rgba(55, 0, 60, 0.9);
  color: white;
  vertical-align: middle;
}

.table > tbody > tr > td {
     vertical-align: middle;
}

.table-responsive > tbody > tr > td {
     vertical-align: middle;
}