    {% extends "base.html" %}

    {% block title %}FPL - Compare Teams{% endblock %}

    {% block content %}

    <div class="container">
        <div class="container">
            <div class="row"><h4>{{t1_name[0][1]}} ({{score_1}})<br>{{t2_name[0][1]}} ({{score_2}})</h4></div>
        </div>
        
        <div class="accordion" id="accordionExample">

            <div class="card">
                <div class="card-header" id="headingOne">
                    <h5 class="mb-0">
                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" style= "color: #37003c"
                            data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                            Captains
                        </button>
                    </h5>
                </div>
                <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                    <div class="card-body">
                        <div class="container">
                            <div class="row">
                                <h5>{{t1_name[0][1]}}</h5>
                            </div>
                            <div class="table-responsive text-nowrap">
                                <table class="table table-sm text-xsmall table-hover sortable ;">
                                    <thead class="thead-light text-center align-middle">
                                        <td class="align-middle" style="width:25%" >Player</td>
                                        <td class="align-middle" style="width:10%" >Points</td>
                                        <td class="align-middle" style="width:10%" >Score</td>
                                        <td class="align-middle" style="width:10%" >Match</td>
                                        <td class="align-middle" style="width:45%" >Status (m|p)</td>                                        
                                    </thead>
                                    <tbody class="text-center align-middle">
                                        {% for dd in t1_cap %}
                                        <tr>
                                            <td><a href="/player/{{dd[0]}}" class="text-dark">{{dd[1]}}</a></td>
                                            <td class="align-middle">{{dd[6]}}</td>
                                            <td class="align-middle">{{dd[8]}}</td>
                                            <td class="align-middle">{{dd[7]}}</td>
                                            <td class="align-middle">{{dd[5]}}</td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>

                            <div class="row">
                                <h5>{{t2_name[0][1]}}</h5>
                            </div>

                            <div class="table-responsive text-nowrap">
                                <table class="table table-sm text-xsmall table-hover sortable ;">
                                    <thead class="thead-light text-center align-middle">
                                        <td class="align-middle" style="width:25%" >Player</td>
                                        <td class="align-middle" style="width:10%" >Points</td>
                                        <td class="align-middle" style="width:10%" >Score</td>
                                        <td class="align-middle" style="width:10%" >Match</td>
                                        <td class="align-middle" style="width:45%" >Status (m|p)</td>                                            
                                    </thead>
                                    <tbody class="text-center align-middle">
                                        {% for dd in t2_cap %}
                                        <tr>
                                            <td><a href="/player/{{dd[0]}}" class="text-dark">{{dd[1]}}</a></td>
                                            <td class="align-middle">{{dd[6]}}</td>
                                            <td class="align-middle">{{dd[8]}}</td>
                                            <td class="align-middle">{{dd[7]}}</td>
                                            <td class="align-middle">{{dd[5]}}</td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-header" id="headingTwo">
                    <h5 class="mb-0">
                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" style= "color: #37003c"
                            data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                            Keepers
                        </button>
                    </h5>
                </div>
                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                    <div class="card-body">
                        <div class="container">
                            <div class="row">
                                <h5>{{t1_name[0][1]}}</h5>
                            </div>
                            <div class="table-responsive text-nowrap">
                                <table class="table table-sm text-xsmall table-hover sortable ;">
                                    <thead class="thead-light text-center align-middle">
                                        <td class="align-middle" style="width:25%" >Player</td>
                                        <td class="align-middle" style="width:10%" >Points</td>
                                        <td class="align-middle" style="width:10%" >Score</td>
                                        <td class="align-middle" style="width:10%" >Match</td>
                                        <td class="align-middle" style="width:45%" >Status (m|p)</td>                                           
                                    </thead>
                                    <tbody class="text-center align-middle">
                                        {% for dd in t1_gkp %}
                                        <tr>
                                            <td><a href="/player/{{dd[0]}}" class="text-dark">{{dd[1]}}</a></td>
                                            <td class="align-middle">{{dd[6]}}</td>
                                            <td class="align-middle">{{dd[8]}}</td>
                                            <td class="align-middle">{{dd[7]}}</td>
                                            <td class="align-middle">{{dd[5]}}</td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>

                            <div class="row">
                                <h5>{{t2_name[0][1]}}</h5>
                            </div>

                            <div class="table-responsive text-nowrap">
                                <table class="table table-sm text-xsmall table-hover sortable ;">
                                    <thead class="thead-light text-center align-middle">
                                        <td class="align-middle" style="width:25%" >Player</td>
                                        <td class="align-middle" style="width:10%" >Points</td>
                                        <td class="align-middle" style="width:10%" >Score</td>
                                        <td class="align-middle" style="width:10%" >Match</td>
                                        <td class="align-middle" style="width:45%" >Status (m|p)</td>                                           
                                    </thead>
                                    <tbody class="text-center align-middle">
                                        {% for dd in t2_gkp %}
                                        <tr>
                                            <td><a href="/player/{{dd[0]}}" class="text-dark">{{dd[1]}}</a></td>
                                            <td class="align-middle">{{dd[6]}}</td>
                                            <td class="align-middle">{{dd[8]}}</td>
                                            <td class="align-middle">{{dd[7]}}</td>
                                            <td class="align-middle">{{dd[5]}}</td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-header" id="headingThree">
                    <h5 class="mb-0">
                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" style= "color: #37003c"
                            data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                            Defense
                        </button>
                    </h5>
                </div>
                <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                    <div class="card-body">
                        <div class="container">
                            <div class="row">
                                <h5>{{t1_name[0][1]}}</h5>
                            </div>
                            <div class="table-responsive text-nowrap">
                                <table class="table table-sm text-xsmall table-hover sortable ;">
                                    <thead class="thead-light text-center align-middle">
                                        <td class="align-middle" style="width:25%" >Player</td>
                                        <td class="align-middle" style="width:10%" >Points</td>
                                        <td class="align-middle" style="width:10%" >Score</td>
                                        <td class="align-middle" style="width:10%" >Match</td>
                                        <td class="align-middle" style="width:45%" >Status (m|p)</td>        
                                    </thead>
                                    <tbody class="text-center align-middle">
                                        {% for dd in t1_def %}
                                        <tr>
                                            <td><a href="/player/{{dd[0]}}" class="text-dark">{{dd[1]}}</a></td>
                                            <td class="align-middle">{{dd[6]}}</td>
                                            <td class="align-middle">{{dd[8]}}</td>
                                            <td class="align-middle">{{dd[7]}}</td>
                                            <td class="align-middle">{{dd[5]}}</td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>

                            <div class="row">
                                <h5>{{t2_name[0][1]}}</h5>
                            </div>

                            <div class="table-responsive text-nowrap">
                                <table class="table table-sm text-xsmall table-hover sortable ;">
                                    <thead class="thead-light text-center align-middle">
                                        <td class="align-middle" style="width:25%" >Player</td>
                                        <td class="align-middle" style="width:10%" >Points</td>
                                        <td class="align-middle" style="width:10%" >Score</td>
                                        <td class="align-middle" style="width:10%" >Match</td>
                                        <td class="align-middle" style="width:45%" >Status (m|p)</td>         
                                    </thead>
                                    <tbody class="text-center align-middle">
                                        {% for dd in t2_def %}
                                        <tr>
                                            <td><a href="/player/{{dd[0]}}" class="text-dark">{{dd[1]}}</a></td>
                                            <td class="align-middle">{{dd[6]}}</td>
                                            <td class="align-middle">{{dd[8]}}</td>
                                            <td class="align-middle">{{dd[7]}}</td>
                                            <td class="align-middle">{{dd[5]}}</td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-header" id="headingFour>
                    <h5 class=" mb-0">
                    <button class="btn btn-link collapsed" type="button" data-toggle="collapse" style= "color: #37003c"
                        data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                        Mids
                    </button>
                    </h5>
                </div>
                <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionExample">
                    <div class="card-body">
                        <div class="container">
                            <div class="row">
                                <h5>{{t1_name[0][1]}}</h5>
                            </div>
                            <div class="table-responsive text-nowrap">
                                <table class="table table-sm text-xsmall table-hover sortable ;">
                                    <thead class="thead-light text-center align-middle">
                                        <td class="align-middle" style="width:25%" >Player</td>
                                        <td class="align-middle" style="width:10%" >Points</td>
                                        <td class="align-middle" style="width:10%" >Score</td>
                                        <td class="align-middle" style="width:10%" >Match</td>
                                        <td class="align-middle" style="width:45%" >Status (m|p)</td>         
                                    </thead>
                                    <tbody class="text-center align-middle">
                                        {% for dd in t1_mid %}
                                        <tr>
                                            <td><a href="/player/{{dd[0]}}" class="text-dark">{{dd[1]}}</a></td>
                                            <td class="align-middle">{{dd[6]}}</td>
                                            <td class="align-middle">{{dd[8]}}</td>
                                            <td class="align-middle">{{dd[7]}}</td>
                                            <td class="align-middle">{{dd[5]}}</td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>

                            <div class="row">
                                <h5>{{t2_name[0][1]}}</h5>
                            </div>

                            <div class="table-responsive text-nowrap">
                                <table class="table table-sm text-xsmall table-hover sortable ;">
                                    <thead class="thead-light text-center align-middle">
                                        <td class="align-middle" style="width:25%" >Player</td>
                                        <td class="align-middle" style="width:10%" >Points</td>
                                        <td class="align-middle" style="width:10%" >Score</td>
                                        <td class="align-middle" style="width:10%" >Match</td>
                                        <td class="align-middle" style="width:45%" >Status (m|p)</td>       
                                    </thead>
                                    <tbody class="text-center align-middle">
                                        {% for dd in t2_mid %}
                                        <tr>
                                            <td><a href="/player/{{dd[0]}}" class="text-dark">{{dd[1]}}</a></td>
                                            <td class="align-middle">{{dd[6]}}</td>
                                            <td class="align-middle">{{dd[8]}}</td>
                                            <td class="align-middle">{{dd[7]}}</td>
                                            <td class="align-middle">{{dd[5]}}</td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-header" id="headingFive">
                    <h5 class="mb-0">
                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" style= "color: #37003c"
                            data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                            Forwards
                        </button>
                    </h5>
                </div>
                <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordionExample">
                    <div class="card-body">
                        <div class="container">
                            <div class="row">
                                <h5>{{t1_name[0][1]}}</h5>
                            </div>
                            <div class="table-responsive text-nowrap">
                                <table class="table table-sm text-xsmall table-hover sortable ;">
                                    <thead class="thead-light text-center align-middle">
                                        <td class="align-middle" style="width:25%" >Player</td>
                                        <td class="align-middle" style="width:10%" >Points</td>
                                        <td class="align-middle" style="width:10%" >Score</td>
                                        <td class="align-middle" style="width:10%" >Match</td>
                                        <td class="align-middle" style="width:45%" >Status (m|p)</td>       
                                    </thead>
                                    <tbody class="text-center align-middle">
                                        {% for dd in t1_fwd %}
                                        <tr>
                                            <td><a href="/player/{{dd[0]}}" class="text-dark">{{dd[1]}}</a></td>
                                            <td class="align-middle">{{dd[6]}}</td>
                                            <td class="align-middle">{{dd[8]}}</td>
                                            <td class="align-middle">{{dd[7]}}</td>
                                            <td class="align-middle">{{dd[5]}}</td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>

                            <div class="row">
                                <h5>{{t2_name[0][1]}}</h5>
                            </div>

                            <div class="table-responsive text-nowrap">
                                <table class="table table-sm text-xsmall table-hover sortable ;">
                                    <thead class="thead-light text-center align-middle">
                                        <td class="align-middle" style="width:25%" >Player</td>
                                        <td class="align-middle" style="width:10%" >Points</td>
                                        <td class="align-middle" style="width:10%" >Score</td>
                                        <td class="align-middle" style="width:10%" >Match</td>
                                        <td class="align-middle" style="width:45%" >Status (m|p)</td>      
                                    </thead>
                                    <tbody class="text-center align-middle">
                                        {% for dd in t2_fwd %}
                                        <tr>
                                            <td><a href="/player/{{dd[0]}}" class="text-dark">{{dd[1]}}</a></td>
                                            <td class="align-middle">{{dd[6]}}</td>
                                            <td class="align-middle">{{dd[8]}}</td>
                                            <td class="align-middle">{{dd[7]}}</td>
                                            <td class="align-middle">{{dd[5]}}</td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-header" id="headingSix">
                    <h5 class="mb-0">
                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" style= "color: #37003c"
                            data-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                            Summary
                        </button>
                    </h5>
                </div>
                <div id="collapseSix" class="collapse" aria-labelledby="headingSix" data-parent="#accordionExample">
                    <div class="card-body">
                        <div class="container">
                            <div class="row">
                                <div class="col-12"> 
                                    <h5>Owned by both teams</h5>
                                    <div class="table-responsive text-nowrap">
                                        <table class="table table-sm text-xsmall table-hover sortable ;">
                                            <thead class="thead-light text-center align-middle">
                                                <td class="align-middle" style="width:50%" >Player</td>
                                                <td class="align-middle" style="width:25%" >Team 1</td>
                                                <td class="align-middle" style="width:25%" >Team 2</td>
                                            </thead>
                                            <tbody class="text-center align-middle">
                                                {% for dd in both %}
                                                <tr>
                                                    <td class="align-middle">{{dd[0]}}</td>
                                                    <td class="align-middle">{{dd[1]}}</td>
                                                    <td class="align-middle">{{dd[2]}}</td>
                                                </tr>
                                                {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>

                            </div>
                            <div class="row">
                                
                            
                            <div class="col-6"> 
                                <h5>{{t1_name[0][1]}} ({{score_1}})</h5>
                                <div class="table-responsive text-nowrap">
                                    <table class="table table-sm text-xsmall table-hover sortable ;">
                                        <thead class="thead-light text-center align-middle">
                                            <td class="align-middle" style="width:40%" >Player</td>
                                            <td class="align-middle" style="width:20%" >Score</td> 
                                            <td class="align-middle" style="width:40%" >Match</td>
                                            
                                        </thead>
                                        <tbody class="text-center align-middle">
                                            {% for dd in diff_1 %}
                                            <tr>
                                                <td class="align-middle">{{dd[0]}}</td>
                                                <td class="align-middle">{{dd[2]}}</td>
                                                <td class="align-middle">{{dd[1]}}</td>   
                                            </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="col-6"> 
                                <h5>{{t2_name[0][1]}} ({{score_2}}) </h5>
                                <div class="table-responsive text-nowrap">
                                    <table class="table table-sm text-xsmall table-hover sortable ;">
                                        <thead class="thead-light text-center align-middle">
                                            <td class="align-middle" style="width:30%" >Player</td>
                                            <td class="align-middle" style="width:20%" >Score</td> 
                                            <td class="align-middle" style="width:30%" >Match</td>
                                        </thead>
                                        <tbody class="text-center align-middle">
                                            {% for dd in diff_2 %}
                                            <tr>
                                                <td class="align-middle">{{dd[0]}}</td>
                                                <td class="align-middle">{{dd[2]}}</td>
                                                <td class="align-middle">{{dd[1]}}</td>                                                
                                            </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>








    {% endblock %}